@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
*{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
* {
    scrollbar-width: thin;
    scrollbar-color: #C13131 #00000011;
}
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: 00000011;
}

*::-webkit-scrollbar-thumb {
    background-color: #C13131;
    border-radius: 20px;
    border: 3px solid 00000011;
}
:root{
    --color__principal: #C13131;
    --color__p: #8D9298;
    --color__title: #1A202C;
    --color__textNav: #4E4D4F;
}
body{
    background: #F4F1F8;
}
.nav{
    position: fixed;
    z-index: 100;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F4F1F8;
    height: 70px;
    width: 100%;
}
.nav__section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 100%;
}
.nav__content1,.nav__content2{
    display: flex;
    align-items: center;
    height: 100%;
    width: 25%;
}
.nav__content2--modify{
    justify-content: center;
}
.nav__img{
    width: 60px;
    height: 60px;
}
.nav__title{
    color: var(--color__textNav);
    font-size: 1.8rem;
    margin-left: 10px;
    margin-top: 10px;
}
.nav__item{
    text-decoration: none;
    width:  100px;
    height: 100%;
    line-height: 70px;
    text-align: center;
    color: var(--color__textNav);
}
.nav__item:hover{
    background: #e8d5fd;
    font-weight: 700;
    border-bottom: 4px solid #C13131;
}
.content{
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 70px);
    gap: 2rem;
}
.content__popularBlog{
    display: flex;
    gap: 3rem;
}
.content__title{
    color: var(--color__principal);
    font-size: 2.5rem;
}
.content__img{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url("images/react.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all ease-in-out .1s;
    border: 2px solid #C13131;
}
.content__img:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 1rem #C13131;
    border-radius: 50%;
    transition: all ease-in-out .1s;
}
.content__text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.content__p{
    font-size: 1.5rem;
    text-align: center;
    color: var(--color__p);
    font-weight: 400;
}
.line{
    position: relative;
    display: block;
    width: 70%;
    height: 3px;
    background: var(--color__principal);
    margin: 1.6rem auto;
}
.line__title{
    text-align: center;
    width: 200px;
    position: absolute;
    top: -1.8rem;
    display: inline;
    background: var(--color__principal);
    font-size: 1.2rem;
    color: #FFFF;
    padding: .4rem;
}
.content__sectionBlogs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.content__card{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
}
.content__sectionImg{
    width: 180px;
    height: 230px;
    border: 3px solid #C13131;
    border-radius: 30px;
    padding: .3rem;
    transition: all ease-in-out.1s;
}
.blog1{
    display: block;
    background-image: url("images/html.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 9rem;
}
.blog2{
    display: block;
    background-image: url("images/css.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10rem;
}
.blog3{
    display: block;
    background-image: url("images/js.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 7rem;
}
.blog4{
    display: block;
    background-image: url("images/php.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10rem;
}
.content__sectionImg:hover{
    cursor: pointer;
    box-shadow: 0 0 1rem #C13131;
    transform: translateY(-25px);
    transition: all ease-in-out.1s;
}
.content__sectionImg:hover + .content__titleCard{
    color: var(--color__principal);
}
.content__titleCard{
    font-size: 1.3rem;
    color: var(--color__title);
}
.footer{
    position: relative;
    bottom: -10px;
    width: 100%;
    height: 60px;
    background: var(--color__principal);
    display: flex;
    align-items: center;
    gap: 1rem;
}
.footer__title{
    margin-left: 2rem;
    font-size: 1.6rem;
    color: #ffff;
}
.footer__contentImages{
    display: flex;
}
.footer__img{
    display: block;
    width: 52px;
    height: 35px;
    transition: transform ease-in-out .1s;
}
.ig{
    background-image: url("images/Instagram\ Circlewhite.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.lk{
    background-image: url("images/LinkedIn\ Circledwhite.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.tw{
    background-image: url("images/Twitter\ Circledwhite.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.gh{
    background-image: url("images/GitHubwhite.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.fb{
    background-image: url("images/Facebookwhite.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer__img:hover{
    transform: scale(1.2);
    transition: transform ease-in-out .1s;
}