@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
*{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
* {
    scrollbar-width: thin;
    scrollbar-color: #C13131 #00000011;
}
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: 00000011;
}

*::-webkit-scrollbar-thumb {
    background-color: #C13131;
    border-radius: 20px;
    border: 3px solid 00000011;
}
:root{
    --color__principal: #C13131;
    --color__p: #8D9298;
    --color__title: #1A202C;
    --color__textNav: #4E4D4F;
}
body{
    background: #F4F1F8;
    overflow-x: hidden;
}
.backgroundAnim{
    position: absolute;
    top: -200px;
    left: -300px;
    z-index: -1;
    width: 800px;
    height: 800px;
    border: 50px dashed #dbd9dd36;
    border-radius: 50%;
    animation: animBg 5s linear infinite;
}
.backgroundAnim2{
    position: absolute;
    bottom: -600px;
    right: -400px;
    z-index: -1;
    width: 800px;
    height: 800px;
    border: 50px dashed #dbd9dd36;
    border-radius: 50%;
    animation: animBg 5s linear infinite;
}
.backgroundAnim3{
    position: absolute;
    bottom: -600px;
    right: -400px;
    z-index: -1;
    width: 800px;
    height: 800px;
    border: 50px dashed #dbd9dd36;
    border-radius: 50%;
    animation: animBg 5s linear infinite;
}
@keyframes animBg {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(260deg);
    }
}
.nav{
    position: fixed;
    z-index: 100;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F4F1F8;
    height: 70px;
    width: 100%;
}
.nav__section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 100%;
}
.nav__content1,.nav__content2{
    display: flex;
    align-items: center;
    height: 100%;
    width: 25%;
}
.nav__img{
    width: 60px;
    height: 60px;
}
.nav__title{
    color: var(--color__textNav);
    font-size: 1.8rem;
    margin-left: 10px;
    margin-top: 10px;
}
.nav__item{
    text-decoration: none;
    width:  100px;
    height: 100%;
    line-height: 70px;
    text-align: center;
    color: var(--color__textNav);
}
.nav__item:hover{
    background: #e8d5fd;
    font-weight: 700;
    border-bottom: 4px solid #C13131;
}
.content{
    transform: translateY(70px);
    top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    gap: 1.4rem;
}
.spinerImg{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spiner{
    position: absolute;
    width: 275px;
    height: 275px;
    border-left: 5px solid #C13131;
    border-right: 5px solid #C13131;
    border-radius: 50%;
    animation: moveSpiner 5s ease-in-out infinite;
}
@keyframes moveSpiner {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.content__img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    transition:  box-shadow ease-in-out .2s;
}
.content__img:hover{
    box-shadow: 0px 0px 3rem #C13131 ;
    transition:  ease-in-out .2s;
}
.content__title{
    font-size: 3rem;
    color: var(--color__title);
}
.content__subtittle{
    font-size: 2.6rem;
    text-align: center;
    color: var(--color__principal);
}
.content__textInfo{
    font-size: 1.8rem;
    text-align: center;
    color: var(--color__p);
}
.content__btnViewBlogs{
    text-decoration: none;
    text-align: center;
    line-height: 70px;
    font-size: 1.6rem;
    color: #ffff;
    background: var(--color__principal);
    width: 26%;
    height: 70px;
    border-radius: 40px;
    transition: background, ease-in-out .2s;
}
.content__btnViewBlogs:hover{
    background: #C13131;
    box-shadow: 0px 0px 1rem #C13131 ;
    transition: background, ease-in-out .2s;
}
.line{
    display: block;
    width: 90%;
    height: 3px;
    background: var(--color__principal);
    margin: 4.3rem auto;
}
/* SECCION INFO */
.contentInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}
.contentInfo__title{
    color: var(--color__title);
    font-size: 2.5rem;
}
.contentInfo__textInfo{
    text-align: center;
    font-size: 1.8rem;
    color: var(--color__p);
    font-weight: 300;
}
.contentInfo__images{
    display: flex;
}
.contentInfo__img{
    display: block;
    width: 80px;
    height: 80px;
    transition: all ease-in-out .2s;
}
.Big{
    background-image: url("images/Instagram\ Circle.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Blk{
    background-image: url("images/LinkedIn\ Circled.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Btw{
    background-image: url("images/Twitter\ Circled.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Bgh{
    background-image: url("images/GitHub.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Bfb{
    background-image: url("images/Facebook.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contentInfo__img:hover{
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 1rem #C13131;
    transition: all ease-in-out .2s;
}
/* SECCION ABOUT ME */
.contentAbout{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}
.contentAbout__tittle{
    color: var(--color__title);
    font-size: 2.5rem;
}
.contentAbout__grind{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.div1{
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
.div2{ 
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.div3{ 
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.div4{ 
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
.div5{ 
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
.div6{ 
    grid-area: 3 / 2 / 4 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contentAbout__panelT{
    color: #1A202C;
    font-weight: 600;
    font-size: 2.3rem;
}
.contentAbout__panelP{
    color: var(--color__p);
    text-align: center;
    font-weight: 300;
    font-size: 2rem;
}
.contentAbout__img{
    width: 400px;
    height: 450px;
    object-fit: contain;
}
.footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer__wave{
    position: relative;
    bottom: -10px;
    width: 100%;
}
.textFooter{
    position: absolute;
    transform: translateY(80px);
}
.footer__text{
    color:  #ffff;
    font-size: 1.6rem;
}
